body {
    background: #5b6175;  /* fallback for old browsers */
    background: #5b6175;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5285, #251169); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #000;
}

.title {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #b4b974;
}

.card {
    background-color: #000000;
    color: #bed2ff;
}

.done {
    text-decoration: line-through;
    color: #cfcfcf;
}