<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Over IP</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
</head>

<body>

    <main class="container p-4">
        <h1 class="display-4 text-center title mt-4">List</h1>
        <div class="row">

            <div class="col-md-4 offset-md-4 my-auto">

                <div class="card">
                    <div class="card-header">

                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" style="border-top-width: 0px;border-bottom-width: 0px;border-left-width: 0px;border-right-width: 0px;background-color: #303030;color: #bed2ff;" name="cadd" placeholder="ClientIP" class="form-control"  value="{{userip}}">
                                <input disabled type="text" style="border-top-width: 0px;border-bottom-width: 0px;border-left-width: 0px;border-right-width: 0px;background-color: #000000;color: #bed2ff;" name="country" class="form-control"  value="国家：{{country}}">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Add IP</button>
                        </form>
                    </div>
                    <div class="card-body" style="height:60vh;overflow:auto;" >

                            {% for keyy,vall in ips_dama.items() %}
                                {% if vall == '已添加' %}
                                    <p style="color: #43ac6a;">{{keyy}}　{{vall}}</p>
                                {% else %}
                                    <p>{{keyy}}　　{{vall}}</p>
                                {% endif %}
                            {% endfor %}
                        
                    </div>

                </div>
            </div>
        </div>
    </main>

</body>

</html>